header{
  background: #111;
  color: #777;
  padding: 15px 0;
}

.language ul{
  padding: 0;
  margin: 0;
}

.language > ul > li{
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgb(226, 226, 226);
}

.language ul li i{
  margin-left: 4px;
  font-size: 14px;
}

.dropdown{
  background: #fff;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  position: absolute;
  z-index: 4;
  padding: 10px;
  top: 36px;
  width: 116px;
  text-align: center;
}

.dropdown ul li{
  list-style-type: none;
  border-bottom: 1px solid rgb(226, 226, 226) ;
  padding: 4px 0;
  transition: all .3s ease;
}

.dropdown ul li:last-child{
  border-bottom: none;
}

.dropdown ul li:hover{
  color: #ff4000;
}

.social-menu ul{
  margin: 0;
  padding: 0;
}

.social-menu ul li{
  list-style-type: none;
  display: inline-block;
}

.social-menu ul li a{
  color: #777;
  text-decoration: none;
  transition: all .3s ease;
  margin-left: 16px;
}

.social-menu ul li a:hover{
  color: #ff4000;
}

.login{
  background: #777;
  padding: 5px 28px;
  margin-left: 12px;
  border-radius: 4px;
  color: #fff !important;
  transition: all .3s ease;
}

.login:hover{
  background: #ff4000;
}
