<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="language">
          <ul>
            <li (click)="drop('language')">
              English <i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'language'">
                <ul>
                  <li>
                    English
                  </li>
                  <li>
                    Arabic
                  </li>
                </ul>
              </div>
            </li>
            <li (click)="drop('currency')">
              USD <i class="fa fa-caret-down"></i>
              <div class="dropdown" *ngIf="id === 'currency'">
                <ul>
                  <li>
                    USD
                  </li>
                  <li>
                    EUR
                  </li>
                  <li>
                    GBP
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 text-right">
        <div class="social-menu">
          <ul>
            <li>
              <a href="javascript:void(0)">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="fa-brands fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="login">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
