<section class="banner">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="https://cdne-marshall-assets.azureedge.net/content/uploads/f9c443e9-e771-4a95-b0c5-bc3ae9f3a495.jpg?20210928082535" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img src="https://ae01.alicdn.com/kf/A53a4ef8b27c9484aa8ef9fa13615bfaby.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img src="https://www.bowerswilkins.com/-/media/images/bw_nd_ecom/category/wireless-headphones/headphones_px8_007.jpg" alt="">
    </ng-template>
  </owl-carousel-o>
</section>

