<section class="bg-color">
  <div class="containers">
      <div class="title">
          <p>The Best Seller Of Hitheme</p>
          <h2><span>Best</span> Seller</h2>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="card">
                  <div class="card-main">
                      <div class="discount">-9%</div>
                      <div class="label label-green">Pre-order</div>
                      <div class="product-container">
                          <div class="p" (mouseover)="imageChange($event)"><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSpeymYXQOUr7g32YAKbhvCqkC0WIcqBw_ARjBQrUhg7zs1OM-7l10z4Od6xh5KrPrF4_m3LawrcXhItF6O2TtqjkfiqW0snjY0KWxM9LB9s4Sz8jx1q9JG_3Dt8vg&usqp=CAE"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imageChange($event)"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTMkFQ757s4xjQ5MJe61zdybDvBVGSu3pn5ORnuyF91ptEhmlHisFhs-iMKGv8q4Sa7OCu1t34y2xLnmLTnzc9eeqO-rdeoCKaWFNZi-rqcmPmHCwP7QmRJ3G9SBAM&usqp=CAE"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imageChange($event)"><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTo6HVlxzw-3Dy6ZLOWdtVBht6QPsH1KjXOAlwMnXBW40Gu2F1rlqcAFlE2PCPerbUKmjUhzG-OjgdOeXPscL4hEk0QV43V8OdLgjURdSaLUtA6RHcOfmfVZO7vlFI&usqp=CAE"
                                  alt="Product"></div>
                      </div>
                      <div class="image">
                          <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQodjK-6HtBeC3p7wFC5LjZfZNcWt1DRWWxonY_AGcBSP32wmIgOx4ClFDE01ekxlBFVeqOC6LQR3bxKm4HRsw2tUlk7B64H9nsGXOQA3icC0Ny2xzJ2wANbZ228tBG&usqp=CAE" alt="Product">
                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                              <li><a href=""><i class="fa fa-heart"></i></a></li>
                              <li><a href=""><i class="fa fa-search"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);">Incidid Tongue Bar</a>
                      <div class="rating">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                      </div>
                      <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <div class="card-main">
                      <div class="discount">-10%</div>
                      <div class="label label-green">Pre-order</div>
                      <div class="product-container">
                          <div class="p"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MP7J3ref_VW_34FR+watch-45-alum-red-nc-8s_VW_34FR_WF_CO_GEO_BR?wid=700&hei=700&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1660778116741%2C1661969580855" alt="Product"></div>
                          <div class="p"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MP6V3ref_VW_34FR+watch-41-alum-silver-nc-8s_VW_34FR_WF_CO_GEO_BR?wid=1400&hei=1400&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1660779457078%2C1661977127924" alt="Product"></div>
                          <div class="p"><img src="https://m.media-amazon.com/images/I/51KTYt71xuL._AC_SX522_.jpg" alt="Product"></div>
                      </div>
                      <div class="image">
                          <img src="https://m.media-amazon.com/images/I/51EWbvAXmhL._AC_SX679_.jpg" alt="Product">
                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                              <li><a href=""><i class="fa fa-heart"></i></a></li>
                              <li><a href=""><i class="fa fa-search"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);">Incidid Tongue Bar</a>
                      <div class="rating">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                      </div>
                      <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <div class="card-main">
                      <div class="discount">-8%</div>
                      <div class="label label-green">Pre-order</div>
                      <div class="product-container">
                          <div class="p"><img src="https://m.media-amazon.com/images/I/51p81VPXKmL._AC_SL1000_.jpg" alt="Product"></div>
                          <div class="p"><img src="https://m.media-amazon.com/images/I/41QB2H6mK6L._AC_SL1000_.jpg" alt="Product"></div>
                          <div class="p"><img src="https://m.media-amazon.com/images/I/31srSEHIAVL._AC_SL1000_.jpg" alt="Product"></div>
                      </div>
                      <div class="image">
                          <img src="https://m.media-amazon.com/images/I/41-RhQeujUL._AC_SL1000_.jpg" alt="Product">
                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                              <li><a href=""><i class="fa fa-heart"></i></a></li>
                              <li><a href=""><i class="fa fa-search"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);">Incidid Tongue Bar</a>
                      <div class="rating">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                      </div>
                      <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <div class="card-main">
                      <div class="discount">-6%</div>
                      <div class="label label-green">Pre-order</div>
                      <div class="product-container">
                          <div class="p"><img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/inspiron-15-3511/media-gallery/in3511nt_cnb_00055rf110_bk.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=656&qlt=100,1&resMode=sharp2&size=656,402&chrss=full" alt="Product"></div>
                          <div class="p"><img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/inspiron-15-3511/media-gallery/in3511nt-cnb-90000td110-bk-fpr-pt-br.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=561&qlt=100,1&resMode=sharp2&size=561,402&chrss=full" alt="Product"></div>
                          <div class="p"><img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/inspiron-15-3511/media-gallery/in3511nt_cnb_00055lf110_bk.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=656&qlt=100,1&resMode=sharp2&size=656,402&chrss=full" alt="Product"></div>
                      </div>
                      <div class="image">
                          <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/inspiron-15-3511/media-gallery/in3511nt_cnb_00000ff090_bk.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=685&qlt=100,1&resMode=sharp2&size=685,402&chrss=full" alt="Product">
                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                              <li><a href=""><i class="fa fa-heart"></i></a></li>
                              <li><a href=""><i class="fa fa-search"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);">Incidid Tongue Bar</a>
                      <div class="rating">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                      </div>
                      <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
