<section class="testimonial">
  <div class="containers">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="testimonial-image">
          <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
        <div class="testimonial-content text-center">
          <h2>Aiden</h2>
          <h3>Web Designer</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis
            impedit fugiat quibusdam repudiandae sint porro molestias, nisi itaque
            cumque odit similique blanditiis quas nobis? Iusto officiis accusamus consequatur nemo!
          </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial-image">
          <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHBlcnNvbnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
        </div>
        <div class="testimonial-content text-center">
          <h2>John</h2>
          <h3>Web Designer</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis
            impedit fugiat quibusdam repudiandae sint porro molestias, nisi itaque
            cumque odit similique blanditiis quas nobis? Iusto officiis accusamus consequatur nemo!
          </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Pierre-Person.jpg" alt="">
        </div>
        <div class="testimonial-content text-center">
          <h2>Mark</h2>
          <h3>Graphics Designer</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis
            impedit fugiat quibusdam repudiandae sint porro molestias, nisi itaque
            cumque odit similique blanditiis quas nobis? Iusto officiis accusamus consequatur nemo!
          </p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>


