<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
            <h2>Free Shipping &amp; Return</h2>
            <p>Free Shipping on all UK order</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-refresh"></i>
            </div>
          </div>
          <h2>Money Back Guarentee</h2>
          <p>30 days money back guarentee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <h2>Online Support 24/24</h2>
          <p>We support online 24/24 on a day</p>
        </div>
      </div>
    </div>
  </div>
</section>
